alembic

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# Poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test output
htmlcov/
.coverage
.tox/
.pytest_cache/